/**
 * Regroupe tous les styles .css
 */


/* --------------- 
    Sommaire
--------------- */
/*
    Couleur
    Boutons
    Liens
    Forms

    Header

    Cards

    Utilitaires

*/


/* Couleur */
:root {
    --white: #fff;
    --default-color: #212529;
    --orinoco-rose: #f3e9f1;
    --orinoco-orange: #e68a08;
    --orinoco-violet: #8f5bfe;
}

.color-orinoco-orange {
    color: var(--orinoco-orange);
}

.color-orinoco-violet {
    color: var(--orinoco-violet);
}


/* Boutons */
.btn-orinoco-violet {
    background-color: var(--orinoco-violet);
    color: var(--white);
}

    .btn-orinoco-violet:hover {
        background-color: var(--orinoco-orange);
        color: var(--white);
    }


/* Liens */
a {
    color: var(--default-color);
    transition: color .4s;
}

    a:hover {
        color: var(--orinoco-violet);
        text-decoration: none;
    }

/* Forms */
input:read-only {
    outline: none;
}

input.input-error {
    color: var(--orinoco-orange);
    border: 1px solid var(--orinoco-orange);
}

    input.input-error::placeholder {
        color: var(--orinoco-orange);
    }


.label-error {
    color: var(--orinoco-orange);
}

/* Header */
header {
    background-color: var(--orinoco-rose);
}



/* Cards */

/* Card-produits */

/* Card-cart */
.card-cart {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
}

.cart-cart__total {
    font-size: 1.25rem;
    line-height: 1;
}

.card-cart__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    


/* Utilitaires */
.format {
    position: relative;
}

    .format::before {
        content: "";
        display: block;
        padding-top: 70%;
        width: 100%;
    }

.format img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cover {
    position: relative;
}

    .cover img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
