<div class="col-md-6 col-lg-4 mb-4">
    <div class="card-produits card shadow h-100">
        <div class="format cover">
            <img src="./img/teddy_1.jpg" alt="teddy_1" class="card-img-top">
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-end mb-2">
                <h3 id="card-produits__title" class="card-title mb-0">Teddy 1</h3>
                <span class="text-muted">499€</span>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-orinoco-violet btn-sm">Voir le produit</a>
        </div>
    </div>
</div>